/* FOOTER */
.border-container{
    box-shadow: 0 0 8px #333;
  }
   
  div h6{
    font-family: var(--letra-lema);
    color: #1D3557;
  }
  div a i{
    color: #FAA307;
  }
  div p{
    color: #457B9D;
  }
  