<header>
  <nav class="navbar navbar-expand-lg m-3">
    <a class="navbar-brand" routerLink="home"><img src="../../assets/images/logo.png" alt="Logo FinApp" style="max-height: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item letra-slogan">
          <a class="nav-link" style="font-size: 30px;"  routerLink="home">FinApp</a>
        </li>
      </ul>
      <ul class="navbar-nav link-hover">
        <li class="nav-item mr-3">
          <a class="nav-link " routerLink="registro">Registrate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="login">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</header>