<main>
  <div class="container border">
    <h2 class="text-center my-5">REGISTRAR EMPRESA</h2>
    <form
      role="form"
      class="contenedor-form"
      (ngSubmit)="registrarEmp()"
      #form="ngForm"
      ngNativeValidate
    >
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Tipo de Usuario:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <select
            [(ngModel)]="objTipoUsuario"
            [ngModelOptions]="{ standalone: true }"
            class="custom-select"
            required
          >
            <!-- <option [ngValue]="0" [disabled]="true" selected>All</option> -->
            <!-- <option [ngValue]="1" selected>All</option> -->
            <option value="" selected>Agregar Tipo de Usuario</option>
            <option *ngFor="let item of lstTipoUsuario" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
          <!-- {{objTipoUsuario | json}}  Visualizar Salida-->
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Tipo Documento:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <select
            [(ngModel)]="objTipoDocumento"
            [ngModelOptions]="{ standalone: true }"
            class="custom-select"
            required
          >
            <option value="" selected>Agregar Tipo Documento</option>
            <option *ngFor="let item of lstTipoDocumento" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Número Documento:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <input
            [(ngModel)]="registrarUsuarioEmp.numeroDocumento"
            [ngModelOptions]="{ standalone: true }"
            type="number"
            class="form-control"
            placeholder="Agregar Número de Documento"
            required
          />
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Nombres/ Razon Social:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <input
            [(ngModel)]="registrarUsuarioEmp.razonSocial"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control"
            placeholder="Agregar Nombres/ Razón Social"
            required
          />
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Dirección:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <input
            [(ngModel)]="registrarUsuarioEmp.direccion"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control"
            placeholder="Agregar Dirección"
            required
          />
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Departamento:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <select
            [(ngModel)]="objDepartamento"
            [ngModelOptions]="{ standalone: true }"
            class="custom-select"
            required
          >
            <option value="" selected>Agregar Departamento</option>
            <option *ngFor="let item of lstDepartamento" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row justify-content-center">
        <label for="" class="col-sm-4 col-md-4 col-lg-3 col-form-label"
          >Ciudad:</label
        >
        <div class="col-sm-4 col-md-5 col-lg-4">
          <select
            [(ngModel)]="objCiudad"
            [ngModelOptions]="{ standalone: true }"
            class="custom-select"
            required
          >
            <option value="" selected>Agregar Ciudad</option>
            <option *ngFor="let item of lstCiudad" [ngValue]="item">
              {{ item.nombre }}
            </option>
          </select>
        </div>
      </div>
      <!-- Seccion credenciales -->
      <div class="col-sm-12 col-md-9 col-lg-7 my-4 p-2 borde-seccion">
        <div class="form-group row">
          <label for="" class="col-sm-4 col-md-5 col-lg-5 col-form-label"
            >Correo:</label
          >
          <div class="col-sm-4 col-md-7 col-lg-7">
            <input
              [(ngModel)]="registrarUsuarioEmp.correo"
              [ngModelOptions]="{ standalone: true }"
              type="email"
              class="form-control"
              placeholder="Agregar Correo"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-4 col-md-5 col-lg-5 col-form-label"
            >Contraseña:</label
          >
          <div class="col-sm-4 col-md-7 col-lg-7">
            <input
              [(ngModel)]="registrarUsuarioEmp.pass"
              [ngModelOptions]="{ standalone: true }"
              type="password"
              class="form-control"
              placeholder="Agregar Contraseña"
              required
            />
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <div class="col-sm-7">
          <button class="btn-lg btn-block" type="submit">
            <i class="fas fa-database"></i> Registrarse
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
<app-footer></app-footer>
