/*
@font-face {
    font-family: caviarDreams;
    src: url(../font/CaviarDreams.ttf);
}

@font-face {
    font-family: caviarDreamsBold;
    src: url(../font/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: caviarDreamsItalic;
    src: url(../font/CaviarDreams_Italic.ttf);
}

@font-face {
    font-family: caviarDreamsBoldItalic;
    src: url(../font/CaviarDreams_BoldItalic.ttf);
}

@font-face {
    font-family: dolceVita;
    src: url(../font/Dolce\ Vita.ttf);
}

@font-face {
    font-family: dolceVitaBold;
    src: url(../font/Dolce\ Vita\ Heavy\ Bold.ttf);
}

@font-face {
    font-family: dolceVitaLight;
    src: url(../font/Dolce\ Vita\ Light.ttf);
}

*/

:root {
    --letra-slogan: dolceVitaBold;
    --letra-body: caviarDreams;
    --letra-lema: caviarDreamsBold;
    --color-primario: #E63946;
    --bg-hover-submit:#A8DADC;
}

body{
    background: #fff;
    font-family: var(--letra-body);
    font-size: 18px;
  }
  
  .letra-slogan{
    font-family: var(--letra-slogan);
  }
  
  /*
  .bg-finapp a{
    color: white;
    font-weight: bold;
  }
  .bg-finapp5 a{
    color: #1D3557;
    font-weight: bold;
  }
  .active{
    text-decoration: overline;
  }
  .bg-finapp{
   background: #E63946 !important;
   background-color: #E63946 !important;
   color: white !important;
  }
  .bg-finapp2{
    background: #1D3557 !important;
    background-color: #1D3557 !important;
    color: white !important;
   }
   .bg-finapp3{
    background: #457B9D !important;
    background-color: #457B9D !important;
    color: white !important;
   }
   .bg-finapp4{
    background: #A8DADC !important;
    background-color: #A8DADC !important;
    color: white !important;
   }
   .bg-finapp5{
    background: #F1FAEE !important;
    background-color: #F1FAEE !important;
    color: black !important;
   }
   */
  
   .link-hover li a,
   .link-hover a,
   .link-hover p a{
     text-decoration: none;
     color: #1D3557;
     border-bottom: 2px solid #fff;
   }
   .link-hover li a:hover,
   .link-hover a:hover,
   .link-hover p a:hover{
    border-bottom: 2px solid #457b9dd5;
    color: #FAA307;
  }
  .link-hover li a,
  .link-hover a,
  .link-hover p a{
    transition: border-bottom 0.8s linear 0.2s;
    transition: color 0.8s linear 0.2s;
  }
  
  /* FOOTER */
   .border-container{
    box-shadow: 0 0 8px #333;
  }
   
  div h6{
    font-family: var(--letra-lema);
    color: #1D3557;
  }
  div a i{
    color: #FAA307;
  }
  div p{
    color: #457B9D;
  }
  
