@font-face {
  font-family: caviarDreams;
  src: url(../src/assets/font/CaviarDreams.ttf);
}

@font-face {
  font-family: caviarDreamsBold;
  src: url(../src/assets/font/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: caviarDreamsItalic;
  src: url(../src/assets/font/CaviarDreams_Italic.ttf);
}

@font-face {
  font-family: caviarDreamsBoldItalic;
  src: url(../src/assets/font/CaviarDreams_BoldItalic.ttf);
}

@font-face {
  font-family: dolceVita;
  src: url(../src/assets/font/Dolce_Vita.ttf);
}

@font-face {
  font-family: dolceVitaBold;
  src: url(../src/assets/font/Dolce_Vita_Heavy_Bold.ttf);
}

@font-face {
  font-family: dolceVitaLight;
  src: url(../src/assets/font/Dolce_Vita_Light.ttf);
}

:root {
  --letra-slogan: dolceVitaBold;
  --letra-body: caviarDreams;
  --letra-lema: caviarDreamsBold;
  --color-cp: #457b9dd5;
  --color-cs: #1d3557;
  --color-cc: #faa307;
  --text-color: #fff;
  --text-colorsg: #457b9d;
  --bg-hover-submit: #1d3557c9;
}

body {
  background: #fff;
  font-family: var(--letra-body);
  font-size: 18px;
}

.letra-slogan {
  font-family: var(--letra-slogan);
}

.link-hover li a,
.link-hover a,
.link-hover p a {
  text-decoration: none;
  color: var(--color-cs);
  border-bottom: 2px solid var(--text-color);
}
.link-hover li a:hover,
.link-hover a:hover,
.link-hover p a:hover {
  border-bottom: 2px solid var(--color-cp);
  color: var(--color-cc);
}
.link-hover li a,
.link-hover a,
.link-hover p a {
  transition: border-bottom 0.8s linear 0.2s;
  transition: color 0.8s linear 0.2s;
}

/* Estilo de formularios */

.contenedor-form input[type="text"],
.contenedor-form input[type="number"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"],
.contenedor-form textarea,
.contenedor-form select {
  outline: none;
  display: block;
  width: 100%;
  background: #f1faee;
  color: black;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid var(--color-cs);
  box-sizing: border-box;
  /*font-family: font-slim;*/
  font-size: 14px;
  font-weight: normal;
  transition: all 0.5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus,
.contenedor-form textarea:focus,
.contenedor-form select:focus {
  border-bottom: 4px solid #faa307;
}

.contenedor-form button[type="submit"] {
  background: var(--color-cs);
  color: white;
  width: 100%;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.contenedor-form button[type="submit"]:hover {
  background: var(--bg-hover-submit);
}

/* Estilo de tabla */

.tabla-encabezado{
    /*
    border-bottom: 4px solid var(--color-primario);
    background:var(--bg-hover-submit);*/
    border-bottom: 4px solid var(--color-cs);
}

.table-admin>tbody>tr:nth-child(2n){
    background:#F2F4F4;
}

.table-admin>tbody>tr:hover {
    background:#f1faeeb4;
}

/* Estilo boton tipo acción */

.boton a{
    text-decoration: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    padding: 10px 10px;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.bg-navegacion a{
    background: var(--color-cs);
}

.bg-navegacion a:hover{
    background: var(--bg-hover-submit);
}