<nav class="navbar navbar-expand-lg bg-finapp sticky-top menu m-3">
  <div class=" navbar-collapse" id="navbarNavAltMarkup">
    <div class="container navbar-nav">
      <a class="nav-link active" href="#">Inicio</a>
      <a class="nav-link" href="./includes/registroRol.html">Sección 1</a>
      <a class="nav-link" href="./includes/registroSede.html">Sección 2</a>
      <a class="nav-link" href="./includes/administrarSede.html">Sección 3</a>
      <a class="nav-link" href="./includes/registroGasto.html">Sección 4</a>
    </div>
  </div>
</nav>