<nav class="navbar navbar-expand-lg bg-finapp5 sticky-top menu m-3">
  <div class=" navbar-collapse" id="navbarNavAltMarkup">
    <div class="container navbar-nav">
      <a class="nav-link active mb-2" routerLink="home">Nuestra App</a>
      <a *ngIf="auth.loginOn()" class="nav-link mb-2" routerLink="listarSede">Sedes</a>
      <a *ngIf="auth.loginOn()" class="nav-link mb-2" routerLink="listarCategorias">Categorias</a>
      <a *ngIf="auth.loginOn()" class="nav-link mb-2" routerLink="listarUsuario">Usuarios</a>
      <a *ngIf="auth.loginOn()" class="nav-link mb-2" routerLink="listarGasto">Gasto</a>
      <a class="nav-link mb-2" routerLink="perfiles">Equipo</a>
    </div>
  </div>
</nav>