<article>
  <div>
    <ul class="ch-grid">
      <li>
        <div class="ch-item ch-img-1">
          <div class="ch-info">
          </div>
          <a href="" target="_blank">
            <div class="ch-thumb ch-img-1"></div>
          </a>
          </div>
          <div class="card" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Yazmin Alejandra Rodriguez</h5>
              <h6 class="card-subtitle mb-2 text-muted">Scrum master</h6>
              <p class="card-text">Bictia Studen</p>
              <a href="#" class="card-link">@faceAlejandraRodriguez</a>
              <a href="#" class="card-link">y_alejarodriguez@hotmail.com</a>
            </div>
          </div>
      </li>
      <li>
        <div class="ch-item ch-img-2">
          <div class="ch-info"></div>
          <a href="" target="_blank"><div class="ch-thumb ch-img-2"></div></a>          
        </div>
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">Juan Sebastian Silva</h5>
            <h6 class="card-subtitle mb-2 text-muted">Product Owner</h6>
            <p class="card-text">Bictia Studen</p>
            <a href="#" class="card-link">@face</a>
            <a href="#" class="card-link">mail</a>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-3">
          <div class="ch-info"></div>
          <a href="" target="_blank"><div class="ch-thumb ch-img-3"></div></a>
        </div>
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">Elias Pretelt</h5>
            <h6 class="card-subtitle mb-2 text-muted">Team Disign</h6>
            <p class="card-text">Bictia Studen</p>
            <a href="#" class="card-link">@huntphotographer</a>
            <a href="#" class="card-link">huntph.pretelt@yahoo.com.co</a>
          </div>
        </div>         
      </li>
    </ul>
  </div>  
</article>