<article>
    <ul class="ch-grid">
      <li>
        <div class="ch-item ch-img-1">
          <div class="ch-info">
            <h3><a href="" target="_blank"><b>Alejandra Rodriguez</b></a> </h3>                 
          </div>
          <a href="" target="_blank">
            <div class="ch-thumb ch-img-1"> </div>
          </a>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-2">
          <div class="ch-info">
            <h3><a href="" target="_blank"><b>Juan Silva</b></a></h3>
              </div>
          <a href="" target="_blank">
              <div class="ch-thumb ch-img-2"></div></a>
        </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
          <div class="ch-info">
                <h3><a href="" target="_blank"><b>Elias Pretelt</b></a> </h3>
              </div>
          <a href="" target="_blank">
              <div class="ch-thumb ch-img-3"></div></a>
        </div>
          </li>
    </ul>
  </article>