p {    
    color: var(--color-cs);
    padding: 30px 0 ;
    margin: 100px 0 10px 0;   
    font-size: 30px;
    text-shadow: 0 0 2px #000, 2px 2px 6px rgba(0,0,0,0.3);
}

article{
    height: 800px;
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 18em;
    height: 18em;
    display: inline-block;
    margin: 40px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 0 1px 3px rgba(221, 35, 35, 0.2);
}
.ch-thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
    transform-origin: 95% 40%;
    transition: all 0.3s ease-in-out;
}
.ch-thumb:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 95%;
    margin: -4px 0 0 -4px;
    background: radial-gradient(ellipse at center, rgb(103, 75, 75) 0%,rgba(125,126,125,1) 100%);
    box-shadow: 0 0 1px rgba(240, 8, 8, 0.9);
}
.ch-img-1 { 
    background-image: url(../../assets/images/avatars/ale.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-position: top;
}
 
.ch-img-2 { 
    background-image: url(../../assets/images/avatars/juan.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-position: top;
}
.ch-img-3 { 
    background-image: url(../../assets/images/avatars/hunt.png);
    z-index: 11;
    background-repeat: no-repeat;
    background-position: top;
}
.ch-img-1 .ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background: url(../../assets/images/fotos/ale.jpeg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 380px;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}
.ch-img-2 .ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background: url(../../assets/images/fotos/juan.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}
.ch-img-3 .ch-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    background: url(../../assets/images/fotos/hunt.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px;
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 24px;
    margin: 0 60px;
    padding: 50px 0 0 0;
    text-shadow: 0 0 4px #000, 0 2px 4px rgba(0,0,0,0.3);
}
 
.ch-item:hover .ch-thumb {
    box-shadow: inset 0 0 0 15px black, 0 1px 3px rgba(0,0,0,0.2);
    transform: rotate(-110deg);
    filter: blur(20px);
}

@Media screen and (min-width:1000px){
    .ch-grid li{
        width: 390px;
        height: 390px;
        
    }
}