@font-face {
    font-family: caviarDreams;
    src: url(../font/CaviarDreams.ttf);
}

@font-face {
    font-family: caviarDreamsBold;
    src: url(../font/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: caviarDreamsItalic;
    src: url(../font/CaviarDreams_Italic.ttf);
}

@font-face {
    font-family: caviarDreamsBoldItalic;
    src: url(../font/CaviarDreams_BoldItalic.ttf);
}

@font-face {
    font-family: dolceVita;
    src: url(../font/Dolce\ Vita.ttf);
}

@font-face {
    font-family: dolceVitaBold;
    src: url(../font/Dolce\ Vita\ Heavy\ Bold.ttf);
}

@font-face {
    font-family: dolceVitaLight;
    src: url(../font/Dolce\ Vita\ Light.ttf);
}

:root {
    --letra-slogan: dolceVitaBold;
    --letra-body: caviarDreams;
    --letra-lema: caviarDreamsBold;
    --color-primario: #E63946;
    --bg-hover-submit:#A8DADC;
}