<main *ngIf="!auth.loginOn()">
    <div class="container rounded my-5 p-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 text-center">
                <h3>Tu contabilidad bajo control</h3>
                <h4>Despídete del caos del papeleo. La mejor herramienta de finanzas para tu empresa</h4>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto">
                <div class="col-lg-12">
                    <div class="text-center my-3">
                        <div class="card-deck no-gutters">
                            <div class="col-sm-6 col-md-6 col-lg-4">
								<div class="card h-100 mb-4">                    
									<div class="card-header">                                
										<img src="../../assets/images/iconos/regisgastos.svg" class="card-img-top" alt="resgitra Tus Datos">
									</div>
									<div class="card-body text-center">
                                        <h5 class="card-title">Registra tus gastos en un instante</h5>
                                        <p class="card-text">Pensado para medianas y pequeñas empresas, FinApp hace de la gestón de sus gastos una nueva experiencia.</p>
									</div>
								</div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
								<div class="card h-100 mb-4">                    
									<div class="card-header">                                
										<img src="../../assets/images/iconos/categorizar.svg" class="card-img-top" alt="categoriza Tu Negocio">
									</div>
									<div class="card-body text-center">
                                        <h5 class="card-title">Categorización de Negocio</h5>
                                        <p class="card-text">Crea la categoría correcta para la administración y/o gestión de sus movimientos; ingresos y gastos partiendo de la asignación de un presupuesto.</p>
									</div>
								</div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-4">
								<div class="card h-100 mb-4">                    
									<div class="card-header">                                
										<img src="../../assets/images/iconos/informes.svg" class="card-img-top" alt="genera Tus Informes">
									</div>
									<div class="card-body text-center">
                                        <h5 class="card-title">Genera Informes Informativos</h5>
                                        <p class="card-text">Genera tu informe mensual, trimestral o semestral y garantiza un seguimiento de tus movimientos contables.</p>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fondo">
        <div class="container">
            <div class="row p-lg-5 p-md-4 p-sm-4 info">
                <div class="col-lg-6 col-md-12 col-sm-12 text-center p-4">
                    <h4>Programa de administración y/o gestión de perdidas y ganancias (P&G) para pymes</h4>
                    <p class="text-justify">FinApp es una herramienta para la administración y/o gestión de los movimientos que resumen los ingresos y gastos de un ejercicio contable partiendo de la asignación de un presupuesto a un proyecto u obra.
                        Permitiendo una mejor gestión, incluso si utilizaramos hojas de cálculo u otros softwares.
                    </p>
                    <p class="text-justify">FinApp te ofrece la posibilidad además de gestionar, generar un reporte que te permite hacer seguimiento de los ingresos, ganancias y perdidas en tus proyectos.
                    </p>
                    <p class="text-justify">FinaApp brinda una solución fácil, segura e intuitiva para llevar tu control financiero.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fondocolor">
        <div class="container">
            <div class="row p-lg-5 p-md-4 p-sm-4">
                <div class="col-lg-6 col-md-12 col-sm-6 d-flex flex-column mb-2">
                    <img class="img-fluid rounded" src="../../assets/images/valores.jpg" alt="Nuestros Valores">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 align-self-center">
                    <h3 class="text-center text-white">Trabajamos sobre el manifiesto Ágil con Valores como:</h3>
                </div>
            </div>
        </div>
    </div>
</main>

<main *ngIf="auth.loginOn()">
    <div class="jumbotron container-fluid bg-finapp5">
        <h1 class="display-4" style="color: #1D3557;">Compañía</h1>
        <br>
        <div class="row d-flex justify-content-around">
          <div class="card" style="width: 11rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/12/28/08/15/hummingbird-1935665_960_720.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><!--Logo--> Compañía</p>
            </div>
          </div>
          <div class="card" style="width: 11rem;">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text"><!--Foto--> Usuario</p>
            </div>
          </div>
          <div class="">
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-finapp5">Nombre: {{ infoUsuario.nombreUsuario }}</li>
              <li class="list-group-item bg-finapp5">Cargo: {{ infoUsuario.cargoUsuario }}</li>
              <!-- <li class="list-group-item bg-finapp5">Rol: Administrador</li> -->
              <li class="list-group-item bg-finapp5">Organización: {{ infoUsuario.empresa }}</li>
              <li class="list-group-item bg-finapp5">Dirección: {{ infoUsuario.direccion }}</li>
            </ul>
          </div>
        </div>
        <hr class="my-5">
        <div class="row d-flex justify-content-around">
          <p class="lead d-none">
            <a class="btn btn-primary btn-lg bg-finapp2" href="#" role="button">Registrar Información</a>
          </p>
          <p class="lead d-none">
            <a class="btn btn-primary btn-lg bg-finapp2" href="#" role="button">Crear Informe</a>
          </p>
          <p class="lead d-none">
            <a class="btn btn-primary btn-lg bg-finapp2" href="#" role="button">Editar Perfil</a>
          </p>
          <p class="lead d-none">
            <a class="btn btn-primary btn-lg bg-finapp2" href="./index-unlog.html" role="button">Cerrar Sesión</a>
          </p>
  
        </div>
        
      </div>
</main>
